@import url('https://fonts.googleapis.com/css?family=Roboto');
section {
    padding-top: 50px;
}

.forretter_container {
    width: 100vw;
}

.modalimg {
    max-width: 100%;
}

.fnutter3,
.fnutter3 a {
    color: #101010;
    margin-top: 50px;
    text-align: center;
    font-size: 7rem;
}

.fnutter3 a {
    padding: 0 30px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}
